*{
    margin: 0px;
    padding: 0px;
}
.container{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}
.container1{
    width: 400px;
    border: 2px solid black;
    background-image: url(./assets/indiancurrency.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    border-radius: 20px;
    text-align: center;
}
.container2{
    width: 400px;
    border: 2px solid black;
    background-image: url(./assets/house.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    border-radius: 20px;
    text-align: center;
}

.scroll{
    transform: translateX(100%);
    transition: all 1s linear 0s;
    height: 100%;
}

.container1:hover > .scroll{
    transform: translateX(0%);
    backdrop-filter: blur(10px) brightness(50%);
}
.container2:hover > .scroll{
    transform: translateX(0%);
    backdrop-filter: blur(10px) brightness(50%);
}

.scroll h2{
    padding-top: 10px;
    margin-bottom: 20px;
}
.scroll p{
    margin-top: 10px;
    margin-bottom: 25px;
    font-size: 20px;
}
.btn{
    background-color: red;
    border: none;
    color: white;
    border-radius: 10px;
    padding: 5px 10px;
    margin-bottom: 5px;
    margin-top: 10px;
}
.btn:hover{
    background-color: white;
    color: black;
}


